[Install]
WantedBy=multi-user.target

[Unit]
Description=VPN
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=2
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill vpn
ExecStartPre=-/usr/bin/docker rm vpn
ExecStartPre=/usr/bin/docker pull krispharper/openvpn-client
ExecStart=/usr/bin/docker run \
	--name vpn \
	--rm \
	--cap-add=NET_ADMIN \
	--dns 8.8.8.8 \
	--dns 8.8.4.4 \
	--device /dev/net/tun \
	-e VPN_USERNAME=${VPN_USERNAME} \
	-e VPN_PASSWORD=${VPN_PASSWORD} \
	krispharper/openvpn-client \
	-v "nl-amsterdam.privacy.network;$VPN_USERNAME;$VPN_PASSWORD;1198"
ExecStop=/usr/bin/docker stop vpn
