[Install]
WantedBy=multi-user.target

[Unit]
Description=Tautulli
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=2
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill tautulli
ExecStartPre=-/usr/bin/docker rm tautulli
ExecStartPre=/usr/bin/docker pull tautulli/tautulli
ExecStart=/usr/bin/docker run \
	--name tautulli \
	--rm \
	-e TZ="America/New_York" \
	-e PUID=1026 \
	-e PGID=1000 \
	-p 8181:8181 \
	-v /media/Poseidon/Data/tautulli:/config \
	-v /media/Poseidon/Data/plex/Library/Application\ Support/Plex\ Media\ Server/Logs:/logs:ro \
	tautulli/tautulli
ExecStop=/usr/bin/docker stop tautulli
