[Install]
WantedBy=multi-user.target

[Unit]
Description=CrashPlan
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=2
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill crashplan
ExecStartPre=-/usr/bin/docker rm crashplan
ExecStartPre=/usr/bin/docker pull jrcs/crashplan:latest
ExecStart=/usr/bin/docker run \
	--name crashplan \
	--rm \
	--log-opt max-size=4G \
	-p 4242-4244:4242-4244 \
	-v /media/Poseidon:/storage \
	-v /media/Poseidon/Data/crashplan/app:/var/crashplan \
	-v /media/Poseidon/Data/crashplan/run.conf:/usr/local/crashplan/bin/run.conf \
	jrcs/crashplan:latest
ExecStop=/usr/bin/docker stop crasplan
