[Install]
WantedBy=multi-user.target

[Unit]
Description=Nginx
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=2
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull dperson/nginx
ExecStart=/usr/bin/docker run \
	--name nginx \
	--rm \
	--link vpn:transmission \
	--link vpn:sonarr \
	--link jackett:jackett \
	-p 80:80 \
	-p 443:443 \
	dperson/nginx \
	-w "http://transmission:9091;/transmission" \
	-w "http://sonarr:8989;/" \
	-w "http://jackett:9117;/jackett"
ExecStop=/usr/bin/docker stop nginx
