[Install]
WantedBy=multi-user.target

[Unit]
Description=Agregarr
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=2
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill agregarr
ExecStartPre=-/usr/bin/docker rm agregarr
ExecStartPre=/usr/bin/docker pull agregarr/agregarr
ExecStart=/usr/bin/docker run \
	--name agregarr \
	--rm \
	-p 7171:7171 \
	-v /etc/localtime:/etc/localtime:ro \
	-v /data/agregarr:/app/config \
	-v /media/Poseidon:/media \
	agregarr/agregarr
ExecStop=/usr/bin/docker stop agregarr
